.navbar-header {
  background-color: #fff;
  padding: 0;
  height: 80px;
  position: fixed;
  width: 100%;
  color: #397890;
  top: 0;
  border-bottom: 2px solid #1e7a92;
  box-shadow: 0 0 2px 1px #a9a9a9;
  z-index: 999;
}

.logo-container {
  padding: 20px;
}

.navbar-content {
  flex-grow: 1;
  color: #fff;
}

.navbar-header-top {
  padding: 9px;
  background-color: #032540;
  font-size: 18px;
}

.navbar-header-bottom {
  background-color: #032540;
  font-size: 14px;
}

.link-container {
  padding: 10px;
}
